$darkInnerShadow: inset 0px 0px 12px 5px rgba(156,108,12,0.8);
$lightInnerShadow: inset -5px 5px 15px 5px rgba(255,210,112,1);

canvas {
  border-radius: 15px;
}

.Gameboy {
  width: 500px;
  height: 800px;
  background-color: #ffc23e;
  border-radius: 15px 15px 0 0;
  -webkit-box-shadow: $darkInnerShadow, $lightInnerShadow;
  -moz-box-shadow: $darkInnerShadow, $lightInnerShadow;
  box-shadow: $darkInnerShadow, $lightInnerShadow;
  position: relative;
}

$screenContainerDarkOutside: 5px -5px 5px 4px rgba(227,144,54,1);
$screenContainerLightInside: inset 0px 5px 2px 5px rgba(93,95,97,.70);

.screen-container {
  background-color: #282c34;
  border-radius: 15px 15px 60px 15px;
  width: 420px;
  height: 420px;
  margin: 60px auto 30px auto;
  -webkit-box-shadow: $screenContainerDarkOutside, $screenContainerLightInside;
  -moz-box-shadow: $screenContainerDarkOutside, $screenContainerLightInside;
  box-shadow: $screenContainerDarkOutside, $screenContainerLightInside;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

$screenLightOutside: 0px 2px 5px 3px rgba(93,95,97,.50);
$screenDarkOutside: 0px -2px 5px 3px rgba(0, 0, 0, 0.5);

.screen {
  width: 325px;
  height: 325px;
  background-color: black;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: $screenLightOutside, $screenDarkOutside;
}

.screen-title {
  color: grey;
  font-style: italic;
  bottom: 16px;
  position: absolute;
  left: 48px;
}

.screen-title-main {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 8px;
}

.screen-title-sub {
  background-color: grey;
  border-radius: 6px;
  padding: 4px 4px;
  letter-spacing: 1px;
  color: #282c34;
}

$power-on-shadow: 0px 0px 10px 3px rgb(176, 255, 185);

.screen-power-indicator {
  position: absolute;
  left: 10px;
  top: 125px;
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  .screen-power-light {
    box-shadow: $power-on-shadow;
    background-color: #41f356;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-bottom: 8px;
  }

  .power-title {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: bold;
  }
}

$etchingOutsideShadow: 0px -3px 9px 3px rgba(227,144,54,0.6);
$etchingInsideShadow: inset 0px 3px 5px 2px rgba(59, 60, 61, 0.4);

.etching {
  position: absolute;
  text-transform: uppercase;
  border-radius: 30px;
  border: 3px solid #ffc23e;
  padding: 6px 16px;
  font-weight: bold;
  width: fit-content;
  left: 50%;
  margin-left: -75px;
  color: #ffc23e;
  letter-spacing: 1px;
  text-shadow: 0px 3px 2px rgba(31, 32, 32, 0.5);
  box-shadow: $etchingInsideShadow, $etchingOutsideShadow;
}

.controls-row {
  width: 100%;
  position: relative;
  margin-top: 3.5rem;
}

$buttonInsideShadow: inset 0px 2px 3px 4px rgba(93,95,97,.70);
$buttonOutsideShadow: 0px -2px 3px 4px rgba(227,144,54,1);

.d-pad-container {
  height: 125px;
  width: 125px;
  position: absolute;
  border-radius: 50%;
  box-shadow: $buttonInsideShadow;
  left: 40px;

  .d-pad {
    position: relative;

    .d-pad-horizontal {
      position: absolute;
      height: 20px;
      width: 60px;
      top: 15px;
    }

    .d-pad-vertical {
      position: absolute;
      height: 60px;
      width: 20px;
      left: 15px;
    }
  }

}

$buttonSize: 60px;

.b-button-container {
  position: absolute;
  margin-top: 40px;
  right: 120px;
  text-align: center;

  .b-button {
    height: $buttonSize;
    width: $buttonSize;
    border-radius: 50%;
  }
}

.a-button-container {
  position: absolute;
  right: 40px;
  text-align: center;

  .a-button {
    height: $buttonSize;
    width: $buttonSize;
    border-radius: 50%;
  }
}

.button-letter {
  padding-top: 16px;
  font-weight: bold;
  color: rgb(218, 132, 42);
  font-size: 18px;
}

.button {
  background-color: #282c34;
  box-shadow: $buttonInsideShadow, $buttonOutsideShadow;
}

$settingButtonInsideShadow: inset 0px 1px 2px 3px rgba(93,95,97,.70);
$settingButtonOutsideShadow: 0px -1px 3px 3px rgba(227,144,54,0.6);

.settings-row {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 40px;
  width: 100%;

  .setting-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

    .setting-button-lettering {
      padding-top: 10px;
      font-weight: bold;
      color: rgb(218, 132, 42);
      font-size: 14px;
    }

    .setting-button {
      width: 60px;
      height: 12px;
      border-radius: 5px;
      box-shadow: $settingButtonInsideShadow, $settingButtonOutsideShadow;
    }
  }

}



